img {
    height: 250px; 
    width: 250px;
    /*borders goes clockwise starts at top left and works it way around*/
  border-radius: 5px 5px 0px 0px;
}
/*can make cards with figure and figure caption and image*/
figure {
    display: table-caption;
    /*
    border-style: groove;
    border-width: 5px;
    border-color: black; */
    border-radius: 5px;
    box-shadow: 9px 8px 9px 0px rgb(28, 94, 112);
    }
    figcaption {
        text-align: center;
        padding: 10px;
    }