*body {
margin: 0%;
box-sizing: border-box;
}
.container {
margin: auto;
}
h1 {
    font-size: 40px;
    font-family: "Libre Barcode 128 Text", 'Times New Roman', Times, serif;
    text-align: center;
}

section {
    font-family: "Teko", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flex;
    font-size: 32px;
    color: crimson;
}

h2 {
    font-family: "Pacifico", sans-serif;
    font-size: 35px;
    display: inline-flex;
    margin-left: 65%;
    margin-bottom: -15%;
    color: darkcyan;
}

.A, .B {
    display: flex;
    position: relative;
    font-family: "Shadows Into Light";
    font-size: 22px;
    font-weight: 600;
    margin-left: 40%;
    margin-top: 2.5%;background-color: lightsalmon;
}
.img {
    display: flex;
    margin-inline-end: 84%;
    margin-top: -35%;
    margin-right: 5%;
}
p {
    display: flex;   
    font-size: 28px;
  font-family: "Abril Fatface";
  text-align: center;
  color: blue;

    }
.image {
   display: block;
   text-align: right;
   margin-right: 15%;
   margin-top: 1%;
}
